{% extends 'template.html' %}

{% block title %} - Contact us{% endblock %}


{% block main %}
<main>
    <section class="wrapper">
        <form action="">
            <label for="form-name">Your Name</label>
            <input type="text" name="form-name" id="form-name">
            <label for="form-email">Email</label>
            <input type="email">
            <label for="form-phone">Phone Number (UK)</label>
            <label for="form-phone">Format: 020-8684-1234</label>
            <input type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}">
            <label for="form-message"></label>
            <textarea name="form-message" id="form-message" cols="30" rows="10" required></textarea>
            <input type="submit" name="submit" id="submit">
        </form>
    </section>
</main>
{% endblock %}

{% block footer %}

{% endblock %}
