{% extends 'template.html' %}

{% block title %} - About{% endblock %}

{% block main %}
<main>
    <section class="wrapper about-container about-container--reverse">
        <p class="about-text top--50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore suscipit possimus voluptas fugit quos nostrum fuga corporis aut sint, quaerat earum qui similique labore rerum eos tenetur rem laudantium asperiores!</p>
        <div class="about-image-container">
            <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGVuc3xlbnwwfHwwfHw%3D&w=1000&q=80" class="about-images">
            <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGVuc3xlbnwwfHwwfHw%3D&w=1000&q=80" class="about-images about-images--disappear">
        </div>
    </section>
    <section class="wrapper about-container bottom--50">
        <p class="about-text top--50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sed, quia necessitatibus repellat incidunt magnam mollitia dicta praesentium neque veniam quis, nesciunt voluptatem quasi optio? Harum qui accusantium nulla asperiores?</p>
        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGVuc3xlbnwwfHwwfHw%3D&w=1000&q=80" class="about-images">
    </section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}