{% extends 'template.html' %}

{% block title %} - View Card{% endblock %}


{% block main %}
<main>
    <section class="card-main">
        <div>
            <!-- card name -->
            <h1>{{ value[2] }}</h1>
            <!-- card details -->
            <div class="card-details-div">
                <!-- set & rarity -->
                <div class="card-col-div">
                    <p>{{ value[4] }}</p>
                    <p>{{ value[3] }}</p>
                </div>
                <!-- setnum & price -->
                <div class="card-col-div">
                    <p>{{ value[5] }}</p>
                    <p>{{ value[7] }}</p>
                </div>
            </div>
        </div>
        <!-- card image -->
        <img src="{{ value[6] }}" alt="Image of {{ value[2] }}" class="card-img">
        <div>
            <h3>Other printings / variations of this card:</h3>
            <ul></ul>
            <button onclick="try{lastCardView()} catch(err) {setDown()}">Previous card</button>
            <button onclick="try{nextCardView()} catch(err) {setUp()}">Next card</button>
            <button onclick="setDown()">Previous set</button>
            <button onclick="setUp()">Next set</button>
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
<script>
    function nextCardView() {
        const numList = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        let url = window.location.href;
        let extension = url.split("/");
        let cardId = extension[4].split("");
        let dnsExtension = "/card-database/";
        let num = "";
        for (let i = 0; i < cardId.length; i++) {
            if (numList.includes(cardId[i])) {
                num = num.concat(cardId[i]);
            } else {
                dnsExtension = dnsExtension.concat(cardId[i]);
            }
        }
        num = Number(num);
        num++;
        dnsExtension = dnsExtension.concat(String(num));
        window.location.href = dnsExtension;
    }

    function lastCardView() {
        const numList = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
        let url = window.location.href;
        let extension = url.split("/");
        let cardId = extension[4].split("");
        let dnsExtension = "/card-database/";
        let num = "";
        for (let i = 0; i < cardId.length; i++) {
            if (numList.includes(cardId[i])) {
                num = num.concat(cardId[i]);
            } else {
                dnsExtension = dnsExtension.concat(cardId[i]);
            }
        }

        num = Number(num);
        num--;
        if (num === 0) {
            console.log(a + 5);
        } else if (num === )
        dnsExtension = dnsExtension.concat(String(num));
        window.location.href = dnsExtension;
    }

    function setUp() {
        const numList = ['0', '1', '2', '3', '4', '5', '6', '7',' 8', '9']
        let url = window.location.href;

        let sifter = url.split("/");
        sifter = sifter[4].split("");
        sifter.shift();

        result = "";
        for (let i = 0; i < sifter.length; i++) {
            if (!(numList.includes(sifter[i]))) {
                result = result.concat(sifter[i]);
            }
        }

        setCSV = {{ setCSV|tojson }};

        let changeSetUp = null;

        for (let i=0; i < setCSV.length; i++) {
            if (setCSV[i][1] === result.toUpperCase()) {
                changeSetUp = setCSV[i+1][1];
                changeSetUp = changeSetUp.toLowerCase();
            }
        }

        dnsExtension = "/card-database/";
        dnsExtension = dnsExtension.concat("M" + changeSetUp + "1/");
        window.location.href = dnsExtension;
    }

    function setDown() {
        const numList = ['0', '1', '2', '3', '4', '5', '6', '7',' 8', '9']
        let url = window.location.href;

        let sifter = url.split("/");
        sifter = sifter[4].split("");
        sifter.shift();

        result = "";
        for (let i = 0; i < sifter.length; i++) {
            if (!(numList.includes(sifter[i]))) {
                result = result.concat(sifter[i]);
            }
        }

        setCSV = {{ setCSV|tojson }};

        let changeSetDown = null;
        let targetCardDown = null;

        for (let i=0; i < setCSV.length; i++) {
            if (setCSV[i][1] === result.toUpperCase()) {
                changeSetDown = setCSV[i-1][1];
                changeSetDown = changeSetDown.toLowerCase();
                targetCardDown = setCSV[i-1][3];
            }
        }

        dnsExtension = "/card-database/";
        dnsExtension = dnsExtension.concat("M" + changeSetDown + targetCardDown + "/");
        window.location.href = dnsExtension;
    }
</script>
{% endblock %}
