{% extends 'template.html' %}

{% block title %} - Home{% endblock %}

{% block main %}
<main>
    <section class="wrapper">
        <p class="home-main-text bottom--120 top--100">Welcome to the TCG Master Base! This website is early in development, but big in aspirations. I'm hoping to make this website the main way people organise their card collections across all TCGs. And I can't do that without your help. If you have any suggestions, or TCGs you want added, discuss it in the <a href="#">Forum</a>. If you have a more pressing issue such as a fault with the site, use the <a href="#">Contact</a> section.</p>
        <ul class="display-hand bottom--50">
            <a href="#" target="_blank"><img id="display-hand-1" src=""></img></a>
            <a href="#" target="_blank"><img id="display-hand-2" src=""></img></a>
            <a href="#" target="_blank"><img id="display-hand-3" src=""></img></a>
            <a href="#" target="_blank"><img id="display-hand-4" src=""></img></a>
            <a href="#" target="_blank"><img id="display-hand-5" src=""></img></a>
            <a href="#" target="_blank"><img id="display-hand-6" src=""></img></a>
            <a href="#" target="_blank"><img id="display-hand-7" src=""></img></a>
        </ul>
    </section>
</main>
{% endblock %}

{% block footer %}
<script>
    function randomHand() {
        let text = "display-hand-";
        let num = 0;
        let x;
        let i = 0;
        cards = {{ cards | tojson }};
        let randomCards = [];
        let randomLength = randomCards.length;
        while (randomLength < 7) {
            cardLength = cards.length;
            x = Math.floor(Math.random() * cardLength);
            num = i + 1;
            num = num.toString();
            id = text.concat(num);
            if (!(randomCards.includes(cards[x][0]))) {
                document.getElementById(id).src = cards[x][6];
                i = i + 1;
                randomCards.push(cards[x][0]);
            }
            randomLength = randomCards.length;
        }
    }
    randomHand();
</script>
{% endblock %}