{% extends 'template.html' %}

{% block title %} - MTG Database{% endblock %}

{% block main %}
<main>
    <section class="mtgDbSubNav">
        <div>
            <form method="post">
                <label for="card-view">Items per page</label>
                <select id="card-view" name="card-view">
                    <option value='40' id="40">40</option>
                    <option value='60' id="60">60</option>
                    <option value='120' id="120">120</option>
                </select>
            </form>
        </div>
        <div class="pagination-div">
            <button onclick="pageUp(false)" class="pagination">&#x27F5;</button>
            <input type="text" id="page-num" name="page-num" value="{{pageNum}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" min="1">
            <button onclick="pageUp(true)" class="pagination">&#x27F6;</button>
        </div>
    </section>

    <section>
        <div id="card-list"></div>
    </section>

    <section class="mtgDbSubNav">
        <button onclick="pageUp(false)" class="pagination">&#x27F5;</button>
        <button onclick="pageUp(true)" class="pagination">&#x27F6;</button>
    </section>

    <div id="snackbar">
        Our database doesn't go any further.
    </div>

    <div id="update">
        Items per page updated.
    </div>
</main>
{% endblock %}

{% block footer %}
<script>
    let cards = {{ cards|tojson }};
    let pageNum = {{ pageNum|tojson }};
    let totalCards = {{ length|tojson }};
    console.log(pageNum);
    console.log(typeof pageNum);
    try {
        let cardViewForm = document.getElementById("card-view");
        let cardPageForm = document.getElementById("page-num");
        let cardView = sessionStorage['cardView'];
        if (cardView == null) {
            cardView = 60;
            sessionStorage['cardView'] = 60;
        } else {
            sessionStorage['cardView'] = cardView;
        }
    
    
        let totalCurrentPages = totalCards / cardView;
    
        document.getElementById(sessionStorage['cardView']).selected = true;
        
        cardViewForm.addEventListener('click', (function() {
            cardView = Number(this.value);
            sessionStorage['cardView'] = cardView;
            window.location.href = "/magic-card-database/page1/"
            let toast = document.getElementById("update");
            toast.className = "show";
            setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 3000);
            main(cardView);
        }));
    
        cardPageForm.addEventListener('keydown', (function(e) {
            if (e.code === "Enter" || e.code === "NumpadEnter") {
                if (Number(this.value) >= 1 && Number(this.value) <= totalCurrentPages) {
                    let pageVal = this.value;
                    window.location.href = "/magic-card-database/".concat("page", pageVal, "/");
                    main(cardView);
                } else {
                    let toast = document.getElementById("snackbar");
                    toast.className = "show";
                    setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 3000);
                }
            }
        }));
    
        cardPageForm.addEventListener("focus", (function(event) {
            event.target.value = "";
        }));
    
        cardPageForm.addEventListener("blur", (function(event) {
            event.target.value = "{{ pageNum }}";
        }));
    
        main(cardView);
        let cardCheck = document.getElementById("card-list").children;
        console.log(cardCheck.length);

        console.log(pageNum)
        if (!(pageNum.match(/^\d+$/))) {
            console.log("hi");
            window.location.href = "/404/";
        }
    } catch (Error) {
        window.location.href = "/404/";
    }

    function main(cardView) {
        let masterDiv = document.getElementById("card-list");
        masterDiv.innerHTML = "";
        upperCount = cardView * pageNum;
        lowerCount = (cardView * (pageNum - 1)) + 1;

        while (lowerCount < (upperCount + 1)) {
            let a = document.createElement("a");
            let aHref = "/magic-card-database/";
            let img = document.createElement("img");
            let imgSrc = "../../static/tcg-master-base_";
            imgSrc = imgSrc.concat(cards[lowerCount - 1][0]);
            imgSrc = imgSrc.concat(".jpeg");
            img.src = imgSrc;
            aHref = aHref.concat(cards[lowerCount - 1][0]);
            a.href = aHref;
            masterDiv.appendChild(a);
            a.appendChild(img);

            lowerCount++;
        }
    }

    function pageUp(up) {
        let mtgTotalCards = {{ length|tojson }};
        let funcPageNum = Number({{ pageNum|tojson }});
        let dnsExtension = "/magic-card-database/page";
        let sessionCardView = parseInt(sessionStorage['cardView']);
        if (up && funcPageNum < (mtgTotalCards / sessionCardView)) {
            dnsExtension = dnsExtension.concat(funcPageNum + 1);
            dnsExtension = dnsExtension.concat("/");
            window.location.href = dnsExtension;
        } else if (funcPageNum > 1 && !up) {
            dnsExtension = dnsExtension.concat(funcPageNum - 1);
            dnsExtension = dnsExtension.concat("/");
            window.location.href = dnsExtension;
        } else {
            setCheckDown = true;
            let toast = document.getElementById("snackbar");
            toast.className = "show";
            setTimeout(function(){ toast.className = toast.className.replace("show", ""); }, 3000);
        }
    }
</script>
{% endblock %}