<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>TCG Master Base{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet"> 
</head>

<header>
    <section class="wrapper wrapper--no-wrapper">
        <nav>
            <ul>
                <div class="nav-bar">
                    <li><a href="/" style="font-family: Aboreto, cursive; font-weight: bold; letter-spacing: 0.2rem;">TCG Master Base</a></li>
                    
                    <div class="databaseDropdown">
                        <button class="databaseBtn" onclick="dropdownFunc()">Database<i class="fa fa-caret-down"></i></button>
                        <div class="dropdownContent" id="databaseDropdownMenu">
                            <a href="/magic-card-database/page1/">Magic the Gathering</a>
                            <a href="#">Pokemon TCG</a>
                        </div>
                    </div>

                    <li><a href="#">My Cards</a></li>
                    <li><a href="#">Forum</a></li>
                </div>
                <li class="right--30"><a href="#">Log In</a></li>
            </ul>
        </nav>
    </section>
</header>

<body>
    {% block main %}{% endblock %}
</body>


<footer>
    <section class="wrapper wrapper--space-between">
        <div class="footer-legals">
            <div>
                <a href="/about/">About Me</a>
                <a href="/contact-me/">Contact Me</a>
            </div>
            <a href="#" class="right--30">Legal Stuff</a>
        </div>
    </section>

    <script>
        function dropdownFunc() {
            document.getElementById("databaseDropdownMenu").classList.toggle("show");
        }

        window.onclick = function(e) {
            if (!e.target.matches('.databaseBtn')) {
            let myDropdown = document.getElementById("databaseDropdownMenu");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
    </script>

    {% block footer %}{% endblock %}

</footer>
</html>