:root {
  --primary-color: #b1ceff;
  --secondary-color: #729ce6;
  --font-color: black;
  --discord-color: #5865f2;
  --reddit-color: #ff4500;
}

.test-background {
  position: absolute;
  background-image: url(https://i.pinimg.com/originals/5d/f3/b2/5df3b24bd1cae6cdd93a42fc22fec3f6.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

.test-background::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background: linear-gradient(#e66465, #9198e5);
}

html {
  background-color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

.top--50 {
  margin-top: 50px !important;
}

.top--60 {
  margin-top: 60px !important;
}

.top--100 {
  margin-top: 100px !important;
}

.bottom--30 {
  margin-bottom: 30px !important;
}

.bottom--50 {
  margin-bottom: 50px !important;
}

.bottom--60 {
  margin-bottom: 60px !important;
}

.bottom--80 {
  margin-bottom: 80px !important;
}

.bottom--100 {
  margin-bottom: 100px !important;
}

.bottom--120 {
  margin-bottom: 120px !important;
}

.bottom--140 {
  margin-bottom: 140px !important;
}

.bottom--150 {
  margin-bottom: 150px !important;
}

.right--30 {
  margin-right: 30px !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-color);
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.wrapper ul {
  padding: 0 67px;
}

.wrapper--flex-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper--no-wrapper {
  max-width: none;
}

.wrapper--space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper__contact {
  padding: 0 50px;
}

nav {
  background-color: var(--secondary-color);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  color: var(--font-color);
}

nav ul a {
  padding: 5px;
  color: var(--font-color);
  text-decoration: none;
}

nav ul li {
  font-size: 1.5rem;
  padding: 20px 35px;
}

nav ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.index-text {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.index-text h1 {
  margin: 20px 0;
  line-height: 45px;
}

.index-text > * {
  padding: 10px;
  line-height: 30px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--font-color);
}

footer a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 20px 35px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-legals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

.footer-legals > * {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home-main-text {
  text-align: center;
  font-size: 1.4rem;
  padding: 10px 50px;
}

.home-main-text a {
  color: var(--font-color);
  text-decoration: underline;
}

.display-hand img {
  position: relative;
  height: 330px;
  width: auto;
  margin-right: -70px;
  border: solid black;
  border-radius: 6%;
  -webkit-border-radius: 6%;
  -moz-border-radius: 6%;
  -ms-border-radius: 6%;
  -o-border-radius: 6%;
}

.display-hand img:hover {
  z-index: 5;
  cursor: pointer;
  bottom: 50px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.4rem;
  padding: 10px 50px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.about-images {
  margin: 50px 50px 0 50px;
  width: 300px;
  height: 100%;
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#contact-form {
  width: 100%;
  margin: 50px 0;
}

#contact-form label {
  margin-bottom: 5px;
  font-size: 21px;
}

#contact-form input[type=text], #contact-form input[type=tel], #contact-form input[type=email] {
  height: 34px;
  padding: 6px;
  margin-bottom: 25px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#contact-form textarea {
  height: 503px;
  padding: 6px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  resize: none;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-section > * {
  width: 45%;
}

.contact-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.social-media img {
  height: 200px;
  width: 200px;
}

.social-media--discord {
  color: white;
  margin-bottom: 25px;
  background-color: var(--discord-color);
}

.social-media--reddit {
  color: black;
  background-color: var(--reddit-color);
}

.contact-submit {
  width: 60%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.card-main__div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-main__div h1 {
  text-align: center;
  font-size: 3rem;
}

.card-main__div h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 35px;
}

.card-main__div p {
  font-size: 1.2rem;
}

.card-main__div label {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 10px;
}

.card-main__div button {
  font-size: 1rem;
  padding: 5px;
}

.card-main__div button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-main__div ul li {
  padding: 15px;
}

.card-main__div li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.3);
}

.card-main__div li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.card-main__div li {
  font-size: 1.2rem;
  list-style: none;
}

.card-main__div li a {
  text-decoration: none;
  color: black;
}

.card-details-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-details-div div > * {
  padding-left: 20px;
}

.card-details-div div:first-child {
  border-right: solid rgba(0, 0, 0, 0.5);
}

.card-col-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.card-col-div #set {
  width: 65px;
}

.card-col-div--border-bottom :nth-child(2) {
  border-bottom: solid rgba(0, 0, 0, 0.5);
}

.card-col-div--border-top :nth-child(3) {
  border-top: solid rgba(0, 0, 0, 0.5);
}

.card-text {
  line-height: 2rem;
  padding: 0 50px 20px 50px;
}

.card-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.card-img-div__child {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  border: solid black;
  border-radius: 6%;
  -webkit-border-radius: 6%;
  -moz-border-radius: 6%;
  -ms-border-radius: 6%;
  -o-border-radius: 6%;
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-buttons__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-buttons__div > * {
  background-color: white;
  border: solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-buttons div:not(:last-child) {
  margin-top: 50px;
}

.spacer {
  content: "";
  border-bottom: solid rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 1450px) {
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-section > * {
    width: 90%;
  }
  .contact-socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-media {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .social-media img {
    height: 100px;
    width: 100px;
  }
  .social-media--reddit {
    margin-left: 50px;
    margin-bottom: 25px;
  }
  .contact-submit {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 1400px) {
  .display-hand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .display-hand img {
    width: 60vw;
    height: 100%;
    margin-right: unset;
  }
  .display-hand img:hover {
    z-index: 1;
    bottom: 0;
  }
  .display-hand :not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (max-width: 769px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-images--disappear {
    display: none;
  }
}

@media (max-width: 430px) {
  .footer-legals {
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .footer-legals a {
    margin: 0;
  }
  .footer-legals div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-legals > * {
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
  }
}

@media (max-width: 400px) {
  .contact-socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-media--reddit {
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */